@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-28 08:38:46
 * @version $Id$
 */
 /*页面主体*/
 .booking_body{
 	width: 40%;
 	height: auto;
 }
 .content_1{
 	margin-top: 100px;
 	font-size: 1.8vmax;
 	font-weight: 800;
 	color: #989898;
 }
 .content_2{
 	font-size: 4vmax;
 	font-weight: 800;
 	color: #64d2a3;
 }
 .content_3{
 	font-size: 1.8vmax;
 	font-weight: 800;
 	color: #64d2a3;
 }
 .content_4{
 	width: 50%;
 	font-size: 1.2vmax;
 	font-weight: 500;
 	color: #a4a4a4;
 }
 .content_4 span{
 	font-style: italic;
 }
 /*尾部*/
 .home-bottom {
 	position: absolute;
 	bottom: 0;
 }
 /*ipad端自适应*/
 @media screen and (max-width: 1024px){
 	.booking_body{
 		width: 60%;
 	}
 	.content_1{
 		font-size: 2.5vmax;
 	}
 	.content_2{
 		font-size: 5vmax;
 	}
 	.content_3{
 		font-size: 1.8vmax;
 	}
 	.content_4{
 		font-size: 1.5vmax;
 	}
 }
 /*手机端横屏自适应*/
 @media screen and (min-width: 414px) and (max-width: 736px){
 	.booking_body{
 		width: 80%;
 	}
 }
 /*手机端竖屏自适应*/
 @media screen and (max-width: 414px){
 	.booking_body{
 		width: 100%;
 	}
 	.content_1{
 		font-size: 4vmax;
 	}
 	.content_2{
 		font-size: 8vmax;
 	}
 	.content_3{
 		font-size: 3vmax;
 	}
 	.content_4{
 		font-size: 2vmax;
 	}
 }