/*尾部*/
@media (min-width: 1024px) {
	.home-bottom {
	background: #28AB8B;
	}
	.bottom-massage {
		text-align: center;
		color:white;
		font-size: 1.2em;
		padding:11.5% 0 2% 0;
	}
	.bottom-massage span {
		font-weight: bold;
	}
	.bottom-text {
		color:white;
		text-align: center;
		font-size:0.75em; 
		padding-bottom: 5.5%;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.home-bottom {
	background: #28AB8B;
	width: 100%;
	position: absolute;
	bottom: 0;
	}
	.bottom-massage {
		text-align: center;
		color:white;
		font-size: 1.2em;
		padding:11.5% 0 2% 0;
	}
	.bottom-massage span {
		font-weight: bold;
	}
	.bottom-text {
		color:white;
		text-align: center;
		font-size:0.75em; 
		padding-bottom: 5.5%;
	}
}
@media (max-width: 768px) and (min-width: 414px) {
	.home-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #28AB8B;
	position: absolute;
	bottom: 0;
	}
	.bottom-massage {
		width:100%;
		text-align: center;
		color:white;
		font-size: 0.9em;
		padding:11.5% 0 2% 0;
	}
	.bottom-massage span {
		font-weight: bold;
	}
	.bottom-text {
		width:100%;
		color:white;
		text-align: center;
		font-size:0.75em; 
		padding-bottom: 5.5%;
		transform: scale(0.7);
	}

}
@media (max-width: 414px) {
	.home-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #28AB8B;
	position: absolute;
	bottom: 0;
	}
	.bottom-massage {
		width:100%;
		text-align: center;
		color:white;
		font-size: 0.9em;
		padding:11.5% 0 2% 0;
	}
	.bottom-massage span {
		font-weight: bold;
	}
	.bottom-text {
		width:100%;
		color:white;
		text-align: center;
		font-size:0.75em; 
		padding-bottom: 5.5%;
		transform: scale(0.7);
	}
}