.contact_title {
	margin-top: 120px;
	font-size: 2vmax;
	font-weight: 900;
    color: #64d2a3;
    font-family: "方正兰亭超细黑简体";
}
.contact_title_s,.contact_title_x {
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 1.3vmax;
}
.contact_title_x {
	margin-top: -8px;
}
.contact_phone {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 1vmax;
	font-weight: 900;
	font-family: "微软雅黑";
}
.contact_phone:after {
	content: " 11111 111 1111";
	font-weight: 100;
}
.contact_msg {
	padding-top: 5%;
	padding-bottom: 80%;
	/*height: 300px;*/
}
.contact_container {
	width: 65%;
}