@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-30 14:01:34
 * @version $Id$
 */
 @media screen and (min-width: 980px)
 {
 	#header {
 		padding: 0 5% 0 2.3%;
 		background-color: #fff;
 		border-bottom: 1px solid #e2fcef;
 	}
 	.head-login {
 		width:0;
 		position:absolute;
 		visibility:hidden;
 	}
 	.nav > li {
 		font-size: 0.85em;
 		text-align: center;
 		padding:0% 0 0% 0;
 		margin-right:-1.5%;
 	}
 	.nav-home {
 		display: flex;
 		flex-wrap: wrap;
 	}
 	.head-title{
 		display: flex;
 	}
 	.head-title-left{
 		color: #64d2a3;
 		margin-right: 5%;
 		font-weight: 100;
 	}
 	.head-title-right{
 		color: #64d2a3;
 		font-weight: 500;
 	}
 	.nav-sign {
 		margin: 0;
 	}
 	.fn-color-green{
 		color: #64d2a3;
 		float: right;
 		margin-right: 0;
 	}

 	.home-bottom {
 		background: #28AB8B;
 	}
 	.bottom-massage {
 		text-align: center;
 		color:white;
 		font-size: 1.2em;
 		padding:5% 0 2% 0;
 	}
 	.bottom-massage span {
 		font-weight: bold;
 	}
 	.bottom-text {
 		color:white;
 		text-align: center;
 		font-size:0.75em; 
 		padding-bottom: 4%;
 	}

 }


 @media screen and (min-width: 760px) and (max-width: 989px) 
 {


 	#header {
 		padding: 0 5% -1% 2.3%;
 		background-color: #fff;
 		margin-top:-0.5%;
 		margin-bottom: -1%;
 		border-bottom: 1px solid #e2fcef;
 	}
 	.head-login {
 		width:0;
 		position:absolute;
 		visibility:hidden;
 	}
 	.nav {
 		display: flex;
 		justify-content: flex-end;
 	}
 	.nav-home {
 		margin:0% 0% 0 -3%;
 	}
 	.head-sign {
 		width:105%;
 		margin-right:25%;
 		padding-right: 5%;
 	}
 	.nav > li {
 		font-size: 0.85em;
 		text-align: center;
 		padding:0% 0 0% 0;
 		margin-left:-3%;
 		transform: scale(0.85);
 	}
 	.nav-home {
 		display: flex;
 		flex-wrap: wrap;
 	}
 	.head-title{
 		display: flex;
 	}

 	.head-title-left{
 		color: #64d2a3;
 		margin-right: 4%;
 		font-weight: 100;
 		font-size: 0.8em;
 		transform: scale(0.9);
 	}
 	.head-title-right{
 		color: #64d2a3;
 		font-weight: 600;
 		font-size: 0.8em;
 		transform: scale(0.9);
 	}

 	.fn-color-green{
 		color: #64d2a3;
 		float: right;
 		padding-top: 1%;
 	}

 	.home-bottom {
 		background: #28AB8B;
 	}
 	.bottom-massage {
 		text-align: center;
 		color:white;
 		font-size: 1.1em;
 		padding:7% 0 2% 0;
 	}
 	.bottom-massage span {
 		font-weight: bold;
 	}
 	.bottom-text {
 		color:white;
 		text-align: center;
 		font-size:0.75em; 
 		transform: scale(0.8);
 		padding-bottom: 4%;
 	}

 }


 @media screen and (min-width: 460px) and (max-width: 759px)
 {

 	body {
 		opacity: 1;
 		z-index: -1;
 	}
 	.head-background {
 		width:100%;
 		height: 100%;
 		position: fixed;
 		left: 0;
 		top:0;
 		z-index: 1;
 		background-color:rgba(0,0,0,0.35);
 	}

 	#header {
 		width:100%;
 		height:8%;
 		background-color: #fff;
 		margin-top:-2.4%;
 		border-bottom: 1px solid #e2fcef;
 	}

 	.navbar-toggle {
 		position: absolute;
 		left:90%;
 		padding: 0% 0 0% 0;
 		margin-top:0.5%;
 		width:8%;
 		background-color: #fff;
 		border:0;
 	}
 	.nav-sign {
 		display: none;
 		width:0;
 		height: 0;
 	}
 	.navbar {
 		width:100%;
 		height: 100%;
 		z-index: 11;
 	}
 	.nav {
 		margin-top:-1.7%;
 	}
 	.nav li {
 		margin-top: -1.4%;
 		
 	}
 	.nav li a {
 		font-size: 0.95em;
 		width:100%;
 		padding:2% 0 2% 5%;
 		background-color: white;
 		border-top: 1px solid #C1C1C1;
 	}


 	.head-title {
 		padding-top:0.5%;
 		display: flex;
 		justify-content: center;
 	}
 	.head-title-left {
 		color: #64d2a3;
 		margin-right: 2%;
 		font-weight: 100;
 		font-size: 0.85em;
 	}
 	.head-title-right{
 		color:  #64d2a3;
 		font-weight: 600;
 		font-size: 0.85em;
 	}
 	.navbar-header {
 		display: flex;
 		justify-content: center;
 		margin-bottom: -2.6%;
 		padding-top:3%;
 	}
 	.navbar-header h6 {
 		font-size:1.3em;
 		color:#C1C1C1;
 		position: relative;
 		left:-40%;
 		top:-30%;
 	}

 	.head-login-li {
 		width:100%;
 		margin-top: -5%;
 		padding:2% 0 30% 0%;
 		background-color: white;
 	}
 	.home-bottom {
 		width: 100%;
 		display: flex;
 		justify-content: center;
 		flex-wrap: wrap;
 		background: #28AB8B;
 	}
 	.bottom-massage {
 		width:100%;
 		text-align: center;
 		color:white;
 		font-size: 0.9em;
 		transform: scale(0.9);
 		padding:6% 0 1.5% 0;
 	}
 	.bottom-massage span {
 		font-weight: bold;
 	}
 	.bottom-text {
 		width:100%;
 		color:white;
 		text-align: center;
 		font-size:0.75em; 
 		padding-bottom: 4%;
 		transform: scale(0.6);
 	}
 }


 @media screen and (max-width: 459px)
 {


 	body {
 		opacity: 1;
 		z-index: -1;
 	}
 	.head-background {
 		width:100%;
 		height: 100%;
 		position: fixed;
 		left: 0;
 		top:0;
 		z-index: 1;
 		background-color:rgba(0,0,0,0.35);
 	}

 	#header {
 		width:100%;
 		height:8%;
 		background-color: #fff;
 		margin-top:-2%;
 		border-bottom: 1px solid #e2fcef;
 	}

 	.navbar-toggle {
 		position: absolute;
 		left:90%;
 		margin-top: 1%;
 		padding: 3% 0 0% 0;
 		width:8%;
 		background-color: #fff;
 		border:0;
 	}
 	.nav-sign {
 		display: none;
 		width:0;
 		height: 0;
 	}
 	.navbar {
 		width:100%;
 		height: 100%;
 		z-index: 11;
 	}

 	.nav {
 		margin-top:-1.7%;
 	}
 	.nav li {
 		margin-top: -1.5%;
 		
 	}
 	.nav li a {
 		font-size: 0.95em;
 		width:100%;
 		padding:-5% 0 2% 5%;
 		background-color: white;
 		border-top: 1px solid #C1C1C1;
 	}


 	.head-title {
 		padding-top:4.5%;
 		display: flex;
 		justify-content: center;
 	}
 	.head-title-left {
 		color: #64d2a3;
 		margin-right: 2%;
 		font-weight: 100;
 		font-size: 0.85em;
 	}
 	.head-title-right{
 		color:  #64d2a3;
 		font-weight: 600;
 		font-size: 0.85em;
 	}
 	.navbar-header {
 		display: flex;
 		justify-content: center;
 		margin-bottom: -1.8%;
 		padding-top:2%;
 	}
 	.navbar-header h6 {
 		font-size:1.3em;
 		color:#C1C1C1;
 		position: relative;
 		left:-6%;
 		top:-55%;
 	}

 	.head-login-li {
 		width:100%;
 		padding:2% 0 38% 0%;
 		background-color: white;
 	}
 	.home-bottom {
 		width: 100%;
 		display: flex;
 		justify-content: center;
 		flex-wrap: wrap;
 		background: #28AB8B;
 	}
 	.bottom-massage {
 		width:100%;
 		text-align: center;
 		color:white;
 		font-size: 0.9em;
 		padding:8% 0 1% 0;
 	}
 	.bottom-massage span {
 		font-weight: bold;
 	}
 	.bottom-text {
 		width:100%;
 		color:white;
 		text-align: center;
 		font-size:0.75em; 
 		padding-bottom: 5%;
 		transform: scale(0.7);
 	}

 }




