#header {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #d8fae9;
	padding: 0 6% 0 3%;
	background-color: #fff;
}
.head-title{
	display: flex;
}
.head-title-left{
	color: #64d2a3;
	margin-right: 10px;
	font-weight: 100;
}
.head-title-right{
	color: #28ab8b;
	font-weight: 500;
}
.fn-just-takeup{
	width: 50px;
}
.fn-color-green{
	color: #64d2a3;
}
/*#64d2a3 #28ab8b*/
.ui-main{
	margin-top: 50px;
	width: 260px;
	height: 438px;
	margin-left: 41%;
	display: flex;
	flex-direction: column;
	color: #aaa;
}
.ui-main-title{
	margin-top: 10px;
	text-align: center;
	font-size: 40px;
}
.ui-main-email{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ui-input{
	width: 100%;
	height: 35px;
	border: solid 1px #ddd;
}
.ui-bottom{
	height: 160px;
	background: #28ab8b;
}
.ui-bottom-title{
	padding-top: 45px;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 18px;
}
.ui-bottom-body{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.ui-bottom-title-left{
	margin-right: 10px;
	font-weight: 100;
}
.ui-bottom-title-right{
	font-weight: 600;
}

.ui-main-face{
	margin-top: 20px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	line-height: 30px;
	color: #fff;
	border: none;
	background: #055fb9;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	cursor: pointer;
}
.ui-main-face:hover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  	transition: 1s all;
}

.ui-main-forgot{
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
}
.ui-main-forgot a{
	color: #aaa;
}
.ui-main-forgot a:hover{
	text-decoration: none;
	color: #aaa;
}
.ui-main-face a{
	color: #fff;
}
.ui-main-face a:hover{
	text-decoration: none;
	color: #fff;
}
.btn{
	height: 50px;
	font-size: 30px;
	
	color: #fff;
	border: none;
	background: #64d2a3;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
}